[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chart-studio = "*"
pandas = "*"
numpy = "*"
requests = "*"
ipywidgets = "*"
jupyterlab = "*"
# pymysql = "*"
# tornado = "*"
fastapi = "*"
uvicorn = {version = "*", extras = ["standard"]}

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"

[requires]
python_version = "3.11"
